// Overrides
$small-breakpoint: 900px !default;
$input-focus-color: #e53935 !default;

// bower:scss
@import "bower_components/reset-css/_reset.scss";
@import "bower_components/girder/scss/_girder.scss";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/Materialize/sass/materialize.scss";
// endbower

// Imports
@import 'mixins';
@import 'variables';

// Fonts
@include font-face('Canaro', '../fonts/canaro-medium-webfont', normal);
@include font-face('Canaro', '../fonts/canaro-semibold-webfont', bold);
@include font-face('Canaro', '../fonts/canaro-light-webfont', lighter);
@include font-face('icomoon', '../fonts/icomoon', normal, normal);

// General
html,
body {
  background: $main-color;
  font-family: $main-font;
  height: 100%;
  width: 100%;
}

html {
  -webkit-tap-highlight-color: trasnparent;
}

body {
  font: normal 75% $main-font;
}

.whole {
  height: 100%;
  width: 100%;
}


header {
  height: 14vh;

  img {
    @include center(true, false);
    height: 9vh;
    margin-top: 2.5vh;
  }
}

//////////////// HOME //////////////////
@import 'home';
