<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Twitter Finder</title>

  <meta name="description" content="We are creating a tool to help Doctors creating a new type of enhanced medical records.">

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/reset-css/reset.css" />
  <link rel="stylesheet" href="/bower_components/Materialize/bin/materialize.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

</head>

<body>
  <!--[if lt IE 10]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser </a>
        to improve your experience.
      </p>
    <![endif]-->
  {% block content %}
  {% endblock %}
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/particles.js/particles.js"></script>
  <script src="/bower_components/classie/classie.js"></script>
  <script src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
  <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <script src="/bower_components/stepsForm/stepsForm.js"></script>
  <script src="/bower_components/Materialize/bin/materialize.js"></script>
  <script src="/bower_components/fetch/fetch.js"></script>
  <script src="/bower_components/es6-promise/promise.js"></script>
  <script src="/bower_components/d3/d3.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  {% block js %}
  {% endblock %}

  <!-- build:js scripts/main.js -->
  <script src="scripts/radarChart.js"></script>
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
</body>

</html>
